---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [alum]
    width: 6
    image: true
  - roles: [collab]
    width: 6
    image: true
- - roles: [visitandresearch]
    width: 6
    image: false
  - roles: [grad-undergrad-projects]
    width: 6
    image: false

---


<iframe src="carousel.html" style="width:100%; height:600px; border:none;"></iframe>



<div class="jumbotron">
    <p>
        The <b>Laboratory of Sensing and Networking Systems (SENS)</b> at <b>EPFL</b> an interdisciplinary research group dedicated to 
        designing and implementing innovative systems with tangible real-world applications. Our focus spans a wide range of areas, 
        including wireless networking, the Internet of Things (IoT), mobile systems, as well as wireless imaging and sensing technologies.
    </p>
</div>



<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>


<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>